<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Active>true</Active>
  <UdpHost>127.0.0.1</UdpHost>
  <UdpPort>10000</UdpPort>
  <TimeoutMilliseconds>1000</TimeoutMilliseconds>
  <DebugTimer>false</DebugTimer>
  <SendCarType>true</SendCarType>
  <SendPosition>true</SendPosition>
  <SendSpeed>true</SendSpeed>
  <SendRPM>true</SendRPM>
  <SendWeight>true</SendWeight>
  <SendForce>true</SendForce>
  <SendThrottle>true</SendThrottle>
</Settings>